
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.slidecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }
  
  .slider {
    width: 50%;
    background: rgb(9, 179, 9);
   
  }
  h1{
    font-size: 1rem;
  }
 